.first__screen {
  margin-left: 50px;
  margin-top: 20px;
  margin-right: 20px;
  border-bottom: 1px solid black;
  height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (max-width: 1000px) {
    border-bottom: 0px solid transparent;
    margin-left: 20px;
    padding-bottom: 40px;
  }
}
.first__text {
  display: none;
  width: 200px;
  margin-top: 20px;
  @media (max-width: 1000px) {
    display: block;
  }
}
.first__title {
  font-size: 70px;
  text-transform: uppercase;
  max-width: 630px;
  @media (max-width: 1000px) {
    font-size: 50px;
    margin-top: 50px;
  }
}
.first__keep {
  align-self: flex-end;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 50px;

  @media (max-width: 1000px) {
    font-size: 30px;
    align-self: flex-start;
    margin-bottom: 0px;
  }
}
.second {
  margin-left: 50px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 1000px) {
    margin-left: 20px;
  }
}
.second__text {
  max-width: 726px;
  @media (max-width: 1000px) {
    display: none;
  }
}
.second__row {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  width: 100%;
}
.second__join {
  display: flex;
  сursor: pointer;
  justify-content: center;
  align-items: center;
  width: 216px;
  height: 69px;
  background-color: rgb(223, 224, 225);
  border-radius: 50px;
  border: 1px solid grey;
  font-size: 37px;
  font-family: "Roboto";
  img {
    margin-left: 5px;
  }
  @media (max-width: 1000px) {
    display: none;
  }
}
.second__info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  img {
    @media (max-width: 1000px) {
      display: none;
    }
  }
}
.second__info {
  margin-top: 60px;
}
.second__title {
  font-size: 59px;
  text-transform: uppercase;
  max-width: 530px;
  margin-top: 50px;
  @media (max-width: 1000px) {
    margin-top: 0px;
    font-size: 50px;
  }
}
.second__part {
  font-size: 15px;
  margin-top: 50px;
  span {
    // margin-left: 50px;
    margin-right: 30px;
  }
}
.second__info__bottom {
  margin-top: 50px;
  width: 100vw;
  text-align: center;
  font-family: "Roboto";
  font-size: 30px;
  letter-spacing: 5px;
}
.second__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  margin-bottom: 80px;
  max-width: 700px;
  width: 100%;
}
